.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgb(236, 236, 244);
    margin-top: 10%;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-md-8 {
    width: 100%;
    max-width: 800px;
    padding: 15px;
}

.col-md-6 {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.img {
    width: 50px;
    padding-right: 4%;
}