<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="pb-3">
                <h1>To reach me</h1>
            </div>
            <div class="row">
                <div class="col-md-6">Gmail : raghul112001@gmail.com</div>
                <div class="col-md-6">
                    <a href=""><img src="../assets/contact/github.svg" alt="" class="img" style="width:58px;"></a>
                    <a href=""><img src="../assets/contact/linkedin.svg" alt="" class="img"></a>
                    <a href=""><img src="../assets/contact/instagram.svg" alt="" class="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>