<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                    <div class="hr-container">
                        <small class="small-text">About <span class="mobile-block">me</span></small><hr>
                    </div>
                    <img src="../assets/about-image/si.gif" class="img-fluid" alt="svg image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    <!-- <div class="hr-container">
                        <hr> <small class="small-text">About <span class="mobile-block">me</span></small><hr>
                    </div> -->
                   <!-- <hr> <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small><hr> -->
                    <h2 class="animated animated-text">
                        <span class="mr-2">Hey folks, I'm</span>
                        <div class="animated-info">
                            <span class="animated-item">Software Developer</span>
                            <span class="animated-item">Front-End Developer</span>
                        </div>
                    </h2>

                    <p>👋Hey there! I'm Raghul, a passionate learner and software developer in the making. Building websites brings me immense
                    joy, and my love for coding led me to dive into software development, focusing on Java. My dream is to transform my
                    ideas into real, impactful applications.</p>
                    <p>
                    I draw inspiration from others and constantly seek new technologies to expand my skills. With hands-on experience in
                    HTML5, CSS3, JavaScript, Bootstrap, Angular, and WordPress, I'm always eager to learn more and stay ahead of the game.
                    Let's embark on this exciting journey together and make a difference in the world of technology. 🚀</p>

                    <div class="custom-btn-group mt-4">
                        <!-- <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a> -->
                        <a href="#" class="btn custom-btn custom-btn-bg custom-btn-link"><i class="far fa-file-pdf"></i> Download Resume</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="section section-md py-5" style="margin-bottom: 5%;">
    <div class="container">

        <div class="hr-container " style="margin-bottom: 5%;">
            <small class="small-text">Qualification<span class="mobile-block"></span></small><hr>
        </div>

        <div class="row mt-4">
            <div class="col-md-10 mx-auto">
                <!-- Timeline -->
                <div class="timeline timeline-one">
                    <!-- Timeline Item 1 -->
                    <div class="timeline-item">
                        <span class="icon icon-info icon-lg"><i class="fas fa-graduation-cap" style="color:#ffffff;"></i></span>
                        <h5 class="my-3 title-color">School</h5>
                        <h5 class="School-heading">St. John's Matriculation Higher Secondary School</h5>
                        <p> <span class="sub-heading">Computer Application <span class="dot">.</span> 2017 - 2018</span> </p>
                        <span class="second-sub-heading">SSLC <span class="dot">.</span> 2017 - 2018</span>
                    </div>
                    <!-- Timeline Item 2 -->
                    <div class="timeline-item">
                        <span class="icon icon-secondary"><i class="fas fa-graduation-cap" style="color:#ffffff;"></i></span>
                        <h5 class="my-3 title-color">School</h5>
                        <h5 class="School-heading">St. John's Matriculation Higher Secondary School</h5>
                        <p> <span class="sub-heading">Computer Application <span class="dot">.</span> 2019 - 2020</span> </p>
                        <span class="second-sub-heading">HSC <span class="dot">.</span> 2019 - 2020</span>
                    </div>
                    <!-- Timeline Item 3 -->
                    <div class="timeline-item">
                        <span class="icon icon-danger"><i class="fas fa-graduation-cap" style="color:#ffffff;"></i></span>
                        <h5 class="my-3 title-color">College</h5>
                        <h5 class="School-heading">Agurchand Manmull Jain College</h5>
                        <p> <span class="sub-heading">Bachelor Of Computer Application <span class="dot">.</span> 2020 - 2023</span> </p>
                        <span class="second-sub-heading">UG <span class="dot">.</span> 2020 - 2023</span>
                    </div>
                </div>
                <!--End of Timeline-->
            </div>
        </div>

    </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="hr-container ">
        <small class="small-text">Languages and Tools <span class="mobile-block"></span></small><hr>
    </div>

    <div class="row">

    <div class="tech-stack-container">
        <div class="skill">
            <img src="../assets/logo/git.svg" alt="Git"><span>Git</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/html5.svg" alt="HTML5"><span>HTML5</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/css3.svg" alt="CSS3"><span>CSS3</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/java.svg" alt="Java"><span>Java</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/vscode.svg" alt="VS Code"><span>VS Code</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/angular.svg" height="24px" alt="Angular"><span>Angular</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/bootstrap.svg" height="25px" alt="Bootstrap"><span>Bootstrap</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/wordpress.svg" height="25px" alt="WordPress"><span>WordPress</span>
        </div>
    </div>

    </div>

</div>
<!-- /.container -->
<!-- 
<section id="tech-stack">
    <div class="hr-container " style="margin-bottom: 5%;">
        <small class="small-text">Languages and Tools <span class="mobile-block"></span></small>
        <hr>
    </div>
    <div class="tech-stack-container">
        <div class="skill">
            <img src="../assets/logo/git.svg" alt="Git"><span>Git</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/html5.svg" alt="HTML5"><span>HTML5</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/css3.svg" alt="CSS3"><span>CSS3</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/java.svg" alt="Java"><span>Java</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/vscode.svg" alt="VS Code"><span>VS Code</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/angular.svg" height="24px" alt="Angular"><span>Angular</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/bootstrap.svg" height="25px" alt="Bootstrap"><span>Bootstrap</span>
        </div>
        <div class="skill">
            <img src="../assets/logo/wordpress.svg" height="25px" alt="WordPress"><span>WordPress</span>
        </div>
    </div>
</section> -->