nav {
    background-color: #212121;
    margin-top: 1%;
}

a {
    color: #f3f3f3;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #208c61
}

.navbar-collapse.show {
    background-color: #212121;
}