img {
  width: 51%;
  height: 100%;
  object-fit: cover;
  /* -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004); */
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}

.container {
  margin-top: 10%;
}

 img:hover {
  opacity: 0.3;
}

.container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.contents {
  display: flex;
  justify-content: flex-end;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #dcdcdc;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: #dcdcdc;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Poppins', sans-serif;
}

.custom-btn {
  background: #eee;
  color: #222121;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 32px;
  margin-right: 15px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #ffffff;
  color: #171616;
}
.custom-btn.custom-btn-bg:hover {
  background: #208c61;
  color: #ffffff !important;
}
