<div class="container" *ngFor="let project of MyProjects">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h3>{{ project.ProjectTitle }}</h3>
            <p>{{ project.Description1 }} </p>
            <p>{{ project.Description2 }}</p>
            <a href="#" class="btn custom-btn custom-btn-bg custom-btn-link"><i class="fab fa-github fa-lg" style="color: #0f0f0f;"></i>  View</a>
        </div>
        <div class="col-md-6 contents">
            <img src="{{ project.Img }}" alt="">
        </div>
    </div>
</div>