section {
  background-color: #212121;
  margin: 5% 0;
}

/* reusable code start */

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #f9f9f9;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.full-screen {
  padding: 5rem 0 0 0;
}

/* reusable code end */

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  /* padding: 8px 16px; */
  border-radius: 50px;
  letter-spacing: 0.2px;
}

/* Animated text start */

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #208c61;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 0;
  left: 6px;
  animation: BottomTotop 6s linear infinite 0s;
  width: max-content;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Animated text end */

 /* button start*/

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  margin-right: 15px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #208c61;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #208c61;
  color: #ffffff !important;
}

/* button end */