<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6">
        <img src="../assets/about-image/anime.gif" alt="404 Error" class="img-fluid">
    </div>
    <div class="col-md-6 content ">
        <h1>404 Error</h1>
        <p>The page you are looking for could not be found.</p>
        <p>Please try searching for the page or returning to the homepage.</p>
        <a routerLink="/home" class="btn custom-btn custom-btn-bg custom-btn-link"><i class="fas fa-long-arrow-alt-left fa-lg" style="color: #ffffff;"></i><span class="text">Return to home</span></a>
    </div>
</div>
</div>